[submodule "Color/ThirdParty/spdlog"]
	path = Color/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Color/ThirdParty/glm"]
	path = Color/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Color/ThirdParty/fmt"]
	path = Color/ThirdParty/fmt
	url = https://github.com/Color-Engine/fmt
[submodule "Color/ThirdParty/Glad"]
	path = Color/ThirdParty/Glad
	url = https://github.com/Color-Engine/glad
